In [2]:
import pandas as pd
import os

In [80]:
path = r"C:\\Users\\Wil\\Desktop\\Guelph\\Courses\\CIS 6650 Blockchain Fundamentals and Applications\\Assignment 1\\MtGox2014Leak\\trades\\trades"
os.chdir(path)

In [81]:
def import_csv_to_dataframe(file):
    df = pd.read_csv(file)
    return df

In [82]:
def remove_duplicates(df):
    df = df.drop_duplicates()
    return df

In [83]:
def drop_irrelevant_data(df):
    df = df[['Trade_Id', 'Date', 'User_Id', 'Type', 'Currency', 'Bitcoins', 'Money']]
    return df

In [84]:
def get_trades_per_trade_id(df):
    return dict(df.groupby('Trade_Id').size())

In [85]:
def get_single_row_transactions(trades_per_id):
    single_row_transactions = []
    
    for key, value in trades_per_id.items():
        if value == 1:
            single_row_transactions.append(key)
            
    return single_row_transactions

In [86]:
def drop_single_row_transactions(df):
    df = df[df.groupby('Trade_Id').Trade_Id.transform('count') >1]
    return df

In [87]:
def save_0_duplicate_rows_df_to_csv(df, file):
    df.to_csv(file)

In [88]:
for _, _, files in os.walk(path):
    for file in files:
        print(file)
        df = import_csv_to_dataframe(str(file))
        df = remove_duplicates(df)
        df = drop_irrelevant_data(df)
        df = drop_single_row_transactions(df)
        save_0_duplicate_rows_df_to_csv(df, file)

2013-03_coinlab.csv

C:\Users\Wil\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [89]:
def filter_rows_by_values(df, col, values):
    return df[~df[col].isin(values)]

In [81]:
df = filter_rows_by_values(df, 'User_Id', ['THK', 'TIBANNE_LIMITED_HK'])

In [90]:
for _, _, files in os.walk(path):
    for file in files:
        print(file)
        df = import_csv_to_dataframe(file)
        df = filter_rows_by_values(df, 'User_Id', ['THK', 'TIBANNE_LIMITED_HK'])
        df = drop_single_row_transactions(df)
        df = remove_duplicates(df)
        save_0_duplicate_rows_df_to_csv(df, file)

2013-03_coinlab.csv

In [42]:
df = import_csv_to_dataframe('non_dup_2011-04.csv')

In [43]:
df = drop_irrelevant_data(df)

In [44]:
df

,Trade_Id,Date,User_Id,Type,Currency,Bitcoins,Money
0,35372,2011-04-01 00:28:54,3931,buy,USD,23.020,18.061
1,35372,2011-04-01 00:28:54,895,sell,USD,23.020,18.061
2,35373,2011-04-01 00:28:54,722,buy,USD,10.000,7.800
3,35373,2011-04-01 00:28:54,895,sell,USD,10.000,7.800
4,35374,2011-04-01 00:28:54,3605,buy,USD,35.000,27.300
...,...,...,...,...,...,...,...
36723,53733,2011-04-30 23:20:31,4949,sell,USD,0.003,0.010
36724,53734,2011-04-30 23:20:31,2185,buy,USD,39.357,137.749
36725,53734,2011-04-30 23:20:31,4949,sell,USD,39.357,137.749
36726,53735,2011-04-30 23:20:31,310,buy,USD,63.326,221.641
36727,53735,2011-04-30 23:20:31,4949,sell,USD,63.326,221.641

In [91]:
def merge_buy_sell_rows(df):
    df = df.groupby('Trade_Id').agg(lambda x: x.tolist())
    return df

In [46]:
df = merge_buy_sell_rows(df)

In [47]:
df

,Date,User_Id,Type,Currency,Bitcoins,Money
Trade_Id,,,,,,
35372,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3931, 895]","[buy, sell]","[USD, USD]","[23.02, 23.02]","[18.061, 18.061]"
35373,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[722, 895]","[buy, sell]","[USD, USD]","[10.0, 10.0]","[7.8, 7.8]"
35374,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3605, 895]","[buy, sell]","[USD, USD]","[35.0, 35.0]","[27.3, 27.3]"
35375,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3966, 895]","[buy, sell]","[USD, USD]","[10.6, 10.6]","[8.246, 8.246]"
35376,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3353, 895]","[buy, sell]","[USD, USD]","[176.21400000000003, 176.21400000000003]","[136.92, 136.92]"
...,...,...,...,...,...,...
53731,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[5169, 4949]","[buy, sell]","[USD, USD]","[6.194, 6.194]","[21.988000000000003, 21.988000000000003]"
53732,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[4856, 4949]","[buy, sell]","[USD, USD]","[5.0, 5.0]","[17.5, 17.5]"
53733,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[6497, 4949]","[buy, sell]","[USD, USD]","[0.003, 0.003]","[0.01, 0.01]"
53734,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[2185, 4949]","[buy, sell]","[USD, USD]","[39.357, 39.357]","[137.749, 137.749]"
53735,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[310, 4949]","[buy, sell]","[USD, USD]","[63.326, 63.326]","[221.641, 221.641]"

In [48]:
df['Buyer'] = df.apply(lambda row: row.User_Id[0], axis=1)

In [49]:
df

,Date,User_Id,Type,Currency,Bitcoins,Money,Buyer
Trade_Id,,,,,,,
35372,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3931, 895]","[buy, sell]","[USD, USD]","[23.02, 23.02]","[18.061, 18.061]",3931
35373,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[722, 895]","[buy, sell]","[USD, USD]","[10.0, 10.0]","[7.8, 7.8]",722
35374,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3605, 895]","[buy, sell]","[USD, USD]","[35.0, 35.0]","[27.3, 27.3]",3605
35375,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3966, 895]","[buy, sell]","[USD, USD]","[10.6, 10.6]","[8.246, 8.246]",3966
35376,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3353, 895]","[buy, sell]","[USD, USD]","[176.21400000000003, 176.21400000000003]","[136.92, 136.92]",3353
...,...,...,...,...,...,...,...
53731,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[5169, 4949]","[buy, sell]","[USD, USD]","[6.194, 6.194]","[21.988000000000003, 21.988000000000003]",5169
53732,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[4856, 4949]","[buy, sell]","[USD, USD]","[5.0, 5.0]","[17.5, 17.5]",4856
53733,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[6497, 4949]","[buy, sell]","[USD, USD]","[0.003, 0.003]","[0.01, 0.01]",6497
53734,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[2185, 4949]","[buy, sell]","[USD, USD]","[39.357, 39.357]","[137.749, 137.749]",2185
53735,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[310, 4949]","[buy, sell]","[USD, USD]","[63.326, 63.326]","[221.641, 221.641]",310

In [92]:
def add_buyer(df):
    df['Buyer'] = df.apply(lambda row: row.User_Id[0], axis=1)
    return df

In [93]:
def add_seller(df):
    df['Seller'] = df.apply(lambda row: row.User_Id[1], axis=1)
    return df

In [52]:
df['Seller'] = df.apply(lambda row: row.User_Id[1], axis=1)

In [53]:
df

,Date,User_Id,Type,Currency,Bitcoins,Money,Buyer,Seller
Trade_Id,,,,,,,,
35372,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3931, 895]","[buy, sell]","[USD, USD]","[23.02, 23.02]","[18.061, 18.061]",3931,895
35373,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[722, 895]","[buy, sell]","[USD, USD]","[10.0, 10.0]","[7.8, 7.8]",722,895
35374,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3605, 895]","[buy, sell]","[USD, USD]","[35.0, 35.0]","[27.3, 27.3]",3605,895
35375,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3966, 895]","[buy, sell]","[USD, USD]","[10.6, 10.6]","[8.246, 8.246]",3966,895
35376,"[2011-04-01 00:28:54, 2011-04-01 00:28:54]","[3353, 895]","[buy, sell]","[USD, USD]","[176.21400000000003, 176.21400000000003]","[136.92, 136.92]",3353,895
...,...,...,...,...,...,...,...,...
53731,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[5169, 4949]","[buy, sell]","[USD, USD]","[6.194, 6.194]","[21.988000000000003, 21.988000000000003]",5169,4949
53732,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[4856, 4949]","[buy, sell]","[USD, USD]","[5.0, 5.0]","[17.5, 17.5]",4856,4949
53733,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[6497, 4949]","[buy, sell]","[USD, USD]","[0.003, 0.003]","[0.01, 0.01]",6497,4949
53734,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[2185, 4949]","[buy, sell]","[USD, USD]","[39.357, 39.357]","[137.749, 137.749]",2185,4949
53735,"[2011-04-30 23:20:31, 2011-04-30 23:20:31]","[310, 4949]","[buy, sell]","[USD, USD]","[63.326, 63.326]","[221.641, 221.641]",310,4949

In [94]:
def clean_date_column(df):
    df['Date'] = df.apply(lambda row: row.Date[0], axis=1)
    return df

In [56]:
df['Date'] = df.apply(lambda row: row.Date[0], axis=1)

In [57]:
df

,Date,User_Id,Type,Currency,Bitcoins,Money,Buyer,Seller
Trade_Id,,,,,,,,
35372,2011-04-01 00:28:54,"[3931, 895]","[buy, sell]","[USD, USD]","[23.02, 23.02]","[18.061, 18.061]",3931,895
35373,2011-04-01 00:28:54,"[722, 895]","[buy, sell]","[USD, USD]","[10.0, 10.0]","[7.8, 7.8]",722,895
35374,2011-04-01 00:28:54,"[3605, 895]","[buy, sell]","[USD, USD]","[35.0, 35.0]","[27.3, 27.3]",3605,895
35375,2011-04-01 00:28:54,"[3966, 895]","[buy, sell]","[USD, USD]","[10.6, 10.6]","[8.246, 8.246]",3966,895
35376,2011-04-01 00:28:54,"[3353, 895]","[buy, sell]","[USD, USD]","[176.21400000000003, 176.21400000000003]","[136.92, 136.92]",3353,895
...,...,...,...,...,...,...,...,...
53731,2011-04-30 23:20:31,"[5169, 4949]","[buy, sell]","[USD, USD]","[6.194, 6.194]","[21.988000000000003, 21.988000000000003]",5169,4949
53732,2011-04-30 23:20:31,"[4856, 4949]","[buy, sell]","[USD, USD]","[5.0, 5.0]","[17.5, 17.5]",4856,4949
53733,2011-04-30 23:20:31,"[6497, 4949]","[buy, sell]","[USD, USD]","[0.003, 0.003]","[0.01, 0.01]",6497,4949
53734,2011-04-30 23:20:31,"[2185, 4949]","[buy, sell]","[USD, USD]","[39.357, 39.357]","[137.749, 137.749]",2185,4949
53735,2011-04-30 23:20:31,"[310, 4949]","[buy, sell]","[USD, USD]","[63.326, 63.326]","[221.641, 221.641]",310,4949

In [95]:
def clean_money_column(df):
    df['Money'] = df.apply(lambda row: row.Money[0], axis=1)
    return df

In [59]:
df['Money'] = df.apply(lambda row: row.Money[0], axis=1)

In [61]:
df

,Date,User_Id,Type,Currency,Bitcoins,Money,Buyer,Seller
Trade_Id,,,,,,,,
35372,2011-04-01 00:28:54,"[3931, 895]","[buy, sell]","[USD, USD]","[23.02, 23.02]",18.061,3931,895
35373,2011-04-01 00:28:54,"[722, 895]","[buy, sell]","[USD, USD]","[10.0, 10.0]",7.800,722,895
35374,2011-04-01 00:28:54,"[3605, 895]","[buy, sell]","[USD, USD]","[35.0, 35.0]",27.300,3605,895
35375,2011-04-01 00:28:54,"[3966, 895]","[buy, sell]","[USD, USD]","[10.6, 10.6]",8.246,3966,895
35376,2011-04-01 00:28:54,"[3353, 895]","[buy, sell]","[USD, USD]","[176.21400000000003, 176.21400000000003]",136.920,3353,895
...,...,...,...,...,...,...,...,...
53731,2011-04-30 23:20:31,"[5169, 4949]","[buy, sell]","[USD, USD]","[6.194, 6.194]",21.988,5169,4949
53732,2011-04-30 23:20:31,"[4856, 4949]","[buy, sell]","[USD, USD]","[5.0, 5.0]",17.500,4856,4949
53733,2011-04-30 23:20:31,"[6497, 4949]","[buy, sell]","[USD, USD]","[0.003, 0.003]",0.010,6497,4949
53734,2011-04-30 23:20:31,"[2185, 4949]","[buy, sell]","[USD, USD]","[39.357, 39.357]",137.749,2185,4949
53735,2011-04-30 23:20:31,"[310, 4949]","[buy, sell]","[USD, USD]","[63.326, 63.326]",221.641,310,4949

In [96]:
def clean_bitcoins_column(df):
    df['Bitcoins'] = df.apply(lambda row: row.Bitcoins[0], axis=1)
    return df

In [64]:
df['Bitcoins'] = df.apply(lambda row: row.Bitcoins[0], axis=1)

In [65]:
df

,Date,User_Id,Type,Currency,Bitcoins,Money,Buyer,Seller
Trade_Id,,,,,,,,
35372,2011-04-01 00:28:54,"[3931, 895]","[buy, sell]","[USD, USD]",23.020,18.061,3931,895
35373,2011-04-01 00:28:54,"[722, 895]","[buy, sell]","[USD, USD]",10.000,7.800,722,895
35374,2011-04-01 00:28:54,"[3605, 895]","[buy, sell]","[USD, USD]",35.000,27.300,3605,895
35375,2011-04-01 00:28:54,"[3966, 895]","[buy, sell]","[USD, USD]",10.600,8.246,3966,895
35376,2011-04-01 00:28:54,"[3353, 895]","[buy, sell]","[USD, USD]",176.214,136.920,3353,895
...,...,...,...,...,...,...,...,...
53731,2011-04-30 23:20:31,"[5169, 4949]","[buy, sell]","[USD, USD]",6.194,21.988,5169,4949
53732,2011-04-30 23:20:31,"[4856, 4949]","[buy, sell]","[USD, USD]",5.000,17.500,4856,4949
53733,2011-04-30 23:20:31,"[6497, 4949]","[buy, sell]","[USD, USD]",0.003,0.010,6497,4949
53734,2011-04-30 23:20:31,"[2185, 4949]","[buy, sell]","[USD, USD]",39.357,137.749,2185,4949
53735,2011-04-30 23:20:31,"[310, 4949]","[buy, sell]","[USD, USD]",63.326,221.641,310,4949

In [97]:
def remove_extra_columns(df):
    df = df[['Date', 'Buyer', 'Seller', 'Bitcoins', 'Money']]
    return df

In [67]:
df = remove_extra_columns(df)

In [68]:
df

                         Date  Buyer  Seller  Bitcoins    Money
Trade_Id
35372     2011-04-01 00:28:54   3931     895    23.020   18.061
35373     2011-04-01 00:28:54    722     895    10.000    7.800
35374     2011-04-01 00:28:54   3605     895    35.000   27.300
35375     2011-04-01 00:28:54   3966     895    10.600    8.246
35376     2011-04-01 00:28:54   3353     895   176.214  136.920
...                       ...    ...     ...       ...      ...
53731     2011-04-30 23:20:31   5169    4949     6.194   21.988
53732     2011-04-30 23:20:31   4856    4949     5.000   17.500
53733     2011-04-30 23:20:31   6497    4949     0.003    0.010
53734     2011-04-30 23:20:31   2185    4949    39.357  137.749
53735     2011-04-30 23:20:31    310    4949    63.326  221.641

[18364 rows x 5 columns]

In [98]:
def calculate_money_rate(df):
    df['Money_Rate'] = df['Money']/df['Bitcoins']
    return df

In [72]:
df = calculate_money_rate(df)

<ipython-input-71-045bb0855a0f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Money_Rate'] = df['Money']/df['Bitcoins']

In [73]:
df

                         Date  Buyer  Seller  Bitcoins    Money  Money_Rate
Trade_Id
35372     2011-04-01 00:28:54   3931     895    23.020   18.061    0.784579
35373     2011-04-01 00:28:54    722     895    10.000    7.800    0.780000
35374     2011-04-01 00:28:54   3605     895    35.000   27.300    0.780000
35375     2011-04-01 00:28:54   3966     895    10.600    8.246    0.777925
35376     2011-04-01 00:28:54   3353     895   176.214  136.920    0.777010
...                       ...    ...     ...       ...      ...         ...
53731     2011-04-30 23:20:31   5169    4949     6.194   21.988    3.549887
53732     2011-04-30 23:20:31   4856    4949     5.000   17.500    3.500000
53733     2011-04-30 23:20:31   6497    4949     0.003    0.010    3.333333
53734     2011-04-30 23:20:31   2185    4949    39.357  137.749    3.499987
53735     2011-04-30 23:20:31    310    4949    63.326  221.641    3.500000

[18364 rows x 6 columns]

In [99]:
def save_clean_data_to_csv(df, file):
    df.to_csv("clean_" + file)

In [75]:
save_clean_data_to_csv(df, 'test.csv')

In [100]:
for _, _, files in os.walk(path):
    for file in files:
        print(file)
        df = import_csv_to_dataframe(file)
        df = drop_irrelevant_data(df)
        df = merge_buy_sell_rows(df)
        df = add_buyer(df)
        df = add_seller(df)
        df = clean_date_column(df)
        df = clean_money_column(df)
        df = clean_bitcoins_column(df)
        df = remove_extra_columns(df)
        df = calculate_money_rate(df)
        save_clean_data_to_csv(df, file)

2013-03_coinlab.csv

In [101]:
path = r"C:\\Users\\Wil\\Desktop\\Guelph\\Courses\\CIS 6650 Blockchain Fundamentals and Applications\\Assignment 1\\MtGox2014Leak\\trades\\cleaned"
os.chdir(path)

In [102]:
for _, _, files in os.walk(path):
    for file in files:
        print(file)

clean_2013-03_coinlab.csv
clean_non_dup_2011-04.csv
clean_non_dup_2011-04_mtgox_japan.csv
clean_non_dup_2011-05.csv
clean_non_dup_2011-06.csv
clean_non_dup_2011-07.csv
clean_non_dup_2011-08.csv
clean_non_dup_2011-09.csv
clean_non_dup_2011-10.csv
clean_non_dup_2011-11.csv
clean_non_dup_2011-12.csv
clean_non_dup_2012-01.csv
clean_non_dup_2012-02.csv
clean_non_dup_2012-03.csv
clean_non_dup_2012-04.csv
clean_non_dup_2012-05.csv
clean_non_dup_2012-06.csv
clean_non_dup_2012-07.csv
clean_non_dup_2012-08.csv
clean_non_dup_2012-09.csv
clean_non_dup_2012-10.csv
clean_non_dup_2012-11_coinlab.csv
clean_non_dup_2012-11_mtgox_japan.csv
clean_non_dup_2012-12_coinlab.csv
clean_non_dup_2012-12_mtgox_japan.csv
clean_non_dup_2013-01_coinlab.csv
clean_non_dup_2013-01_mtgox_japan.csv
clean_non_dup_2013-02-12_coinlab.csv
clean_non_dup_2013-02-12_mtgox_japan.csv
clean_non_dup_2013-02-19_coinlab.csv
clean_non_dup_2013-02-19_mtgox_japan.csv
clean_non_dup_2013-02-26_coinlab.csv
clean_non_dup_2013-02-26_mtgox_japan.csv
clean_non_dup_2013-02_coinlab.csv
clean_non_dup_2013-02_mtgox_japan.csv
clean_non_dup_2013-03-05_coinlab.csv
clean_non_dup_2013-03-05_mtgox_japan.csv
clean_non_dup_2013-03-12_coinlab.csv
clean_non_dup_2013-03-12_mtgox_japan.csv
clean_non_dup_2013-03-19_coinlab.csv
clean_non_dup_2013-03-19_mtgox_japan.csv
clean_non_dup_2013-03-26_coinlab.csv
clean_non_dup_2013-03-26_mtgox_japan.csv
clean_non_dup_2013-03_mtgox_japan.csv
clean_non_dup_2013-04_coinlab.csv
clean_non_dup_2013-04_mtgox_japan.csv
clean_non_dup_2013-05_coinlab.csv
clean_non_dup_2013-05_mtgox_japan.csv
clean_non_dup_2013-06_coinlab.csv
clean_non_dup_2013-06_mtgox_japan.csv
clean_non_dup_2013-07_coinlab.csv
clean_non_dup_2013-07_mtgox_japan.csv
clean_non_dup_2013-08_coinlab.csv
clean_non_dup_2013-08_mtgox_japan.csv
clean_non_dup_2013-09_coinlab.csv
clean_non_dup_2013-09_mtgox_japan.csv
clean_non_dup_2013-10_coinlab.csv
clean_non_dup_2013-10_mtgox_japan.csv
clean_non_dup_2013-11_coinlab.csv
clean_non_dup_2013-11_mtgox_japan.csv

In [103]:
import glob

In [104]:
path = r"C:\\Users\\Wil\\Desktop\\Guelph\\Courses\\CIS 6650 Blockchain Fundamentals and Applications\\Assignment 1\\MtGox2014Leak\\trades\\cleaned"
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

C:\Users\Wil\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [107]:
frame.to_csv('Compiled_dataset.csv', index=False)